.transaction_history {
  padding: 40px;
  align-items: center;

  box-shadow: 0 8px 16px 0 rgba(223, 46, 46, 0.2),
    0 6px 20px 0 rgba(199, 26, 26, 0.19);
  margin: 20px auto 0 auto;
  width: fit-content;

  background-color: #f7cbec;
  border-radius: 5px;
  justify-content: center;

  table-layout: fixed;
  width: 50%;
  border-collapse: collapse;
  border: 3px solid purple;
}
.row {
  border-collapse: collapse;
  border: 2px solid purple;
  font-size: 20px;
  color: #530a41;
}
.column {
  border-collapse: collapse;
  border: 2px solid purple;
  text-align: center;
}
thead {
  background-color: #db51b9;
  height: 50px;
  font-size: 24px;
}
